{% if orientation is defined and orientation == 'horizontal' %}
<div class="col-sm-6 col-xs-12 mb-32">
    <div class="row">
        <div class="col-sm-4 col-xs-12 mb-xs">
            <img src="{{ asset(image.path) }}" alt="{{ image.alt|trans }}" title="{{ image.alt|trans }}" class="mb-sm mt-xs">
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="content-item__header fw-b type-heading-02 mb-xs">{{ heading|trans }}</div>
            <div class="content-item__copy type-body-compact-02 mb-md">{{ copy|trans }}</div>

            {% if cta is defined and cta %}
                {% set cta = cta|merge({
                    'variant': 'link',
                    'icon': 'ri-arrow-right-line',
                    'href': cta.link
                }) %}
                {% include '@MauticCore/Helper/button.html.twig' with {buttons: [cta]} %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="col-sm-6 col-xs-12 mb-32">
    <img src="{{ asset(image.path) }}" alt="{{ image.alt|trans }}" title="{{ image.alt|trans }}" class="mb-md">
    <div class="content-item__header fw-b type-heading-02 mb-xs">{{ heading|trans }}</div>
    <div class="content-item__copy type-body-compact-02 mb-md">{{ copy|trans }}</div>

    {% if cta is defined and cta %}
        {% set cta = cta|merge({
            'variant': 'link',
            'icon': 'ri-arrow-right-line',
            'href': cta.link
        }) %}
        {% include '@MauticCore/Helper/button.html.twig' with {buttons: [cta]} %}
    {% endif %}
</div>
{% endif %}
