{% if tiles is defined %}
{% for tile in tiles %}
    {% set randomId = random() %}
    {% if tile.link is defined and tile.link is not empty %}
        <a class="tile tile--clickable" id="clickable-tile-{{ randomId }}" href="{{ tile.link }}">
            <div>
                <div class="tile-content">
                    {{ tile.content|raw }}
                </div>
                <div class="tile-icon">
                    <i class="{{ tile.icon|default('ri-arrow-right-line') }}" aria-hidden="true"></i>
                </div>
            </div>
        </a>
    {% else %}
        <button type="button" class="tile tile--clickable" id="clickable-tile-{{ randomId }}" {% if tile.onclick is defined %}onclick="{{ tile.onclick }}"{% endif %}>
            <div>
                <div class="tile-content">
                    {{ tile.content|raw }}
                </div>
                <div class="tile-icon">
                    <i class="{{ tile.icon|default('ri-arrow-right-line') }}" aria-hidden="true"></i>
                </div>
            </div>
        </button>
    {% endif %}
{% endfor %}
{% endif %}