{% if tiles is defined %}
{% for tile in tiles %}
    {% set randomId = random() %}
    <button type="button" 
            class="tile tile--expandable collapsed" 
            data-toggle="collapse" 
            data-target="#collapse-{{ randomId }}"
            aria-expanded="false"
            aria-controls="collapse-{{ randomId }}"
            title="{{ 'mautic.core.interact_to_expand_tile'|trans }}"
            id="expandable-tile-{{ randomId }}"
            tabindex="0">
        <div>
            <div class="tile-content">
                <div class="tile-content__above-the-fold">
                    {{ tile.aboveFoldContent|raw }}
                </div>
            </div>
            <div class="tile__chevron">
                <span></span>
                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                    fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                </svg>
            </div>
            <div class="collapse" id="collapse-{{ randomId }}">
                <div class="tile-content">
                    <div class="tile-content__below-the-fold">
                        {{ tile.belowFoldContent|raw }}
                    </div>
                </div>
            </div>
        </div>
    </button>
{% endfor %}
{% endif %}