{% for tile in tiles %}
    <a href="{{ tile.link|default('#') }}" class="tile tile--clickable" {% if tile.attributes is defined %}{% for attr, value in tile.attributes %}{{ attr }}="{{ value }}" {% endfor %}{% endif %}>
        <div class="d-flex jc-space-between ai-center">
            <div class="tile-title">{{ tile.title }}</div>
            {% if tile.icon is defined %}
                <div>
                    <i class="{{ tile.icon }} text-interactive ri-lg"></i>
                </div>
            {% endif %}
        </div>
    </a>
{% endfor %}
